Repository HelloblueAI/HelloblueGK: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

fix(tests): update FluentAssertions API for v8 compatibility
  Tests/Integration/PerformanceBenchmarkTests.cs
Due: integration

Harden list endpoints with pagination caps
  Tests/Unit/WebAPI/ControllerAuthorizationSecurityTests.cs
  Tests/Unit/WebAPI/EnginesControllerSecurityTests.cs
  Tests/Unit/WebAPI/SimulationsControllerSecurityTests.cs
  WebAPI/Controllers/AIOptimizationController.cs
  WebAPI/Controllers/DigitalTwinController.cs
  WebAPI/Controllers/EnginesController.cs
  WebAPI/Controllers/LaunchesController.cs
  WebAPI/Controllers/SimulationsController.cs
  WebAPI/Data/Repositories/EngineRepository.cs
  WebAPI/Data/Repositories/IEngineRepository.cs
  WebAPI/Models/PaginationRequest.cs
Due: unittests

fix(ci): use --no-build for integration and performance test runs
  .github/workflows/ci.yml
Due: none

Harden database connection startup detection
  Tests/Unit/WebAPI/SecurityHardeningTests.cs
  WebAPI/Configuration/DatabaseConfiguration.cs
  WebAPI/Program.cs
Due: unittests

Fix database startup hardening build issues
  WebAPI/Configuration/DatabaseConfiguration.cs
  WebAPI/Program.cs
Due: none

refactor: use Select for PostgreSQL query parameter parsing
  WebAPI/Configuration/DatabaseConfiguration.cs
Due: none

Harden validation and JWT lifetime handling
  Core/RealTimeValidationEngine.cs
  Core/ValidationEngine.cs
  Tests/Unit/Core/RealTimeValidationEngineTests.cs
  Tests/Unit/Core/ValidationEngineTests.cs
  Tests/Unit/WebAPI/SecurityHardeningTests.cs
  WebAPI/Controllers/AuthController.cs
  WebAPI/Services/JwtService.cs
Due: unittests

Fix real-time validation nullable warning
  Core/RealTimeValidationEngine.cs
Due: none

Harden API error and digital twin responses
  Tests/Unit/WebAPI/ControllerAuthorizationSecurityTests.cs
  Tests/Unit/WebAPI/SecurityHardeningTests.cs
  WebAPI/Controllers/Certification/RequirementsController.cs
  WebAPI/Controllers/DigitalTwinController.cs
  WebAPI/Controllers/SystemHealthController.cs
Due: unittests

Hide digital twin model data from API responses
  Tests/Unit/WebAPI/ControllerAuthorizationSecurityTests.cs
  Tests/Unit/WebAPI/SecurityHardeningTests.cs
  WebAPI/Controllers/DigitalTwinController.cs
Due: unittests

Fix digital twin DTO projection
  WebAPI/Controllers/DigitalTwinController.cs
Due: none

Harden JWT revalidation and simulation telemetry responses
  .dockerignore
  .gitignore
  Tests/Unit/WebAPI/SecurityHardeningTests.cs
  Tests/Unit/WebAPI/SimulationsControllerSecurityTests.cs
  WebAPI/Controllers/SimulationsController.cs
  WebAPI/Data/Models/EngineTelemetry.cs
  WebAPI/Extensions/AuthenticationExtensions.cs
Due: unittests

Fix telemetry DTO type ambiguity
  Tests/Unit/WebAPI/SimulationsControllerSecurityTests.cs
  WebAPI/Controllers/SimulationsController.cs
Due: unittests

Clean up JWT validation nullability
  WebAPI/Extensions/AuthenticationExtensions.cs
Due: none

Fix telemetry cap test assertion
  Tests/Unit/WebAPI/SimulationsControllerSecurityTests.cs
Due: unittests

Simplify telemetry cap assertion
  Tests/Unit/WebAPI/SimulationsControllerSecurityTests.cs
Due: unittests

Bind simulation telemetry navigation
  WebAPI/Data/HelloblueGKDbContext.cs
Due: none

Harden SSO admin mapping and coverage paths
  Certification/TestCoverageSystem.cs
  Tests/Unit/WebAPI/SecurityHardeningTests.cs
  WebAPI/Controllers/Certification/TestCoverageController.cs
  WebAPI/Extensions/AuthenticationExtensions.cs
Due: unittests

Fix coverage path normalization build
  Certification/TestCoverageSystem.cs
Due: none

Use string path prefix check
  Certification/TestCoverageSystem.cs
Due: none

Harden auth throttling and workload payload limits
  Core/RateLimitingMiddleware.cs
  Tests/Unit/Core/RateLimitingMiddlewareSecurityTests.cs
  Tests/Unit/WebAPI/ControllerAuthorizationSecurityTests.cs
  Tests/Unit/WebAPI/SimulationsControllerSecurityTests.cs
  WebAPI/Controllers/AIOptimizationController.cs
  WebAPI/Controllers/DigitalTwinController.cs
  WebAPI/Controllers/LaunchesController.cs
  WebAPI/Controllers/SimulationsController.cs
  WebAPI/Validation/RequestPayloadLimits.cs
Due: unittests

Guard reserved background work slots
  WebAPI/Controllers/AIOptimizationController.cs
  WebAPI/Controllers/LaunchesController.cs
  WebAPI/Controllers/SimulationsController.cs
Due: none

fix: close auth username throttle bypass on oversized payloads
  Core/RateLimitingMiddleware.cs
  Tests/Unit/Core/RateLimitingMiddlewareSecurityTests.cs
Due: unittests

fix: reject chunked auth payloads that exceed 64 KB
  Core/RateLimitingMiddleware.cs
  Tests/Unit/Core/RateLimitingMiddlewareSecurityTests.cs
Due: unittests

fix: align auth username throttling with model binding
  Core/RateLimitingMiddleware.cs
  Tests/Unit/Core/RateLimitingMiddlewareSecurityTests.cs
Due: unittests

fix: use specific catches for username rate limiter failures
  Core/RateLimitingMiddleware.cs
  Tests/Unit/Core/RateLimitingMiddlewareSecurityTests.cs
Due: unittests

chore: lock in git hygiene defaults
  .gitattributes
  .github/setup-branch-protection.sh
  .gitignore
Due: none

chore: lock in git hygiene defaults (#110)
  .gitattributes
  .github/setup-branch-protection.sh
  .gitignore
Due: none

chore: harden project health, CI gates, and secret-doc hygiene
  .github/dependabot.yml
  .github/scripts/fail-on-vulnerable-packages.sh
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  Docker/Dockerfile.render
  Docker/README.md
  Dockerfile.render
  Docs/Deployment/RAILWAY_DEPLOYMENT_FIX.md
  Docs/Deployment/RENDER_POSTGRESQL_SETUP.md
  Docs/archive/historical/BIG_TECH_READY_SYSTEM.md
  Docs/archive/historical/DEPLOYMENT_STATUS.md
  Docs/archive/historical/DEPLOYMENT_TEST_RESULTS.md
  Docs/archive/historical/ENTERPRISE_FEATURES_SUMMARY.md
  Docs/archive/historical/MAINTENANCE_REPORT_2026_05.md
  Docs/archive/historical/NASA_SPACEX_READINESS_ASSESSMENT.md
  Docs/archive/historical/NEXT_STEPS.md
  Docs/archive/historical/POTENTIAL_BUGS_ANALYSIS.md
  Docs/archive/historical/PRODUCTION_READY.md
  Docs/archive/historical/PROFESSIONAL_SETUP.md
  Docs/archive/historical/QUICK_REFERENCE.md
  Docs/archive/historical/README.md
  Docs/archive/historical/REAL_TIME_CONTROL_IMPLEMENTATION.md
  Docs/archive/historical/SECURITY_INCIDENT_RESPONSE.md
  Docs/archive/historical/UPDATE_RECOMMENDATIONS.md
  README.md
  Tests/HelloblueGK.Tests.csproj
  Tests/Unit/Aerospace/EngineModelTests.cs
  Tests/Unit/Core/ConfigurationValidationServiceTests.cs
  Tests/Unit/Physics/PhysicsSolverContractTests.cs
  Tests/Unit/WebAPI/SecurityHardeningTests.cs
  WebAPI/Data/DatabaseInitializer.cs
  WebAPI/Data/Migrations/README.md
  WebAPI/Program.cs
  codecov.yml
  railway.json
  render.yaml
Due: unittests

chore: harden project health, CI, and OSS hygiene (#111)
  .github/dependabot.yml
  .github/scripts/fail-on-vulnerable-packages.sh
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  Docker/Dockerfile.render
  Docker/README.md
  Dockerfile.render
  Docs/Deployment/RAILWAY_DEPLOYMENT_FIX.md
  Docs/Deployment/RENDER_POSTGRESQL_SETUP.md
  Docs/archive/historical/BIG_TECH_READY_SYSTEM.md
  Docs/archive/historical/DEPLOYMENT_STATUS.md
  Docs/archive/historical/DEPLOYMENT_TEST_RESULTS.md
  Docs/archive/historical/ENTERPRISE_FEATURES_SUMMARY.md
  Docs/archive/historical/MAINTENANCE_REPORT_2026_05.md
  Docs/archive/historical/NASA_SPACEX_READINESS_ASSESSMENT.md
  Docs/archive/historical/NEXT_STEPS.md
  Docs/archive/historical/POTENTIAL_BUGS_ANALYSIS.md
  Docs/archive/historical/PRODUCTION_READY.md
  Docs/archive/historical/PROFESSIONAL_SETUP.md
  Docs/archive/historical/QUICK_REFERENCE.md
  Docs/archive/historical/README.md
  Docs/archive/historical/REAL_TIME_CONTROL_IMPLEMENTATION.md
  Docs/archive/historical/SECURITY_INCIDENT_RESPONSE.md
  Docs/archive/historical/UPDATE_RECOMMENDATIONS.md
  README.md
  Tests/HelloblueGK.Tests.csproj
  Tests/Unit/Aerospace/EngineModelTests.cs
  Tests/Unit/Core/ConfigurationValidationServiceTests.cs
  Tests/Unit/Physics/PhysicsSolverContractTests.cs
  Tests/Unit/WebAPI/SecurityHardeningTests.cs
  WebAPI/Data/DatabaseInitializer.cs
  WebAPI/Data/Migrations/README.md
  WebAPI/Program.cs
  codecov.yml
  railway.json
  render.yaml
Due: unittests

chore: align branch-protection script and Dependabot .NET 9 pins
  .github/dependabot.yml
  .github/setup-branch-protection.sh
Due: none

chore: align git hygiene follow-ups (#115)
  .github/dependabot.yml
  .github/setup-branch-protection.sh
Due: none

Restore persisted digital twins after restart
  Core/DigitalTwinEngine.cs
  Tests/Unit/WebAPI/ControllerAuthorizationSecurityTests.cs
  WebAPI/Controllers/DigitalTwinController.cs
Due: unittests

Fix singleton engine concurrency races
  Core/AdvancedAIOptimizationEngine.cs
  Core/DigitalTwinEngine.cs
  Tests/Unit/Core/AdvancedAIOptimizationEngineTests.cs
  Tests/Unit/Core/DigitalTwinEngineTests.cs
Due: unittests

Bound optimization result cache growth
  Core/AdvancedAIOptimizationEngine.cs
  Tests/Unit/Core/AdvancedAIOptimizationEngineTests.cs
Due: unittests

Fix cache bound regression inspection
  Tests/Unit/Core/AdvancedAIOptimizationEngineTests.cs
Due: unittests

Close engine lifecycle concurrency gaps
  Core/AdvancedAIOptimizationEngine.cs
  Core/DigitalTwinEngine.cs
  Tests/Unit/Core/AdvancedAIOptimizationEngineTests.cs
  Tests/Unit/Core/DigitalTwinEngineTests.cs
Due: unittests

Serialize digital twin generations safely
  Core/AdvancedAIOptimizationEngine.cs
  Core/DigitalTwinEngine.cs
  Tests/Unit/Core/DigitalTwinEngineTests.cs
Due: unittests

Keep autonomous learning on one twin generation
  Core/DigitalTwinEngine.cs
  Tests/Unit/Core/DigitalTwinEngineTests.cs
Due: unittests

Path conditions:
  unittests: any of: Tests/Unit/
  integration: any of: Tests/Integration/
