Repository HelloblueAI/HelloblueGK: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 90%
        threshold: 1%
        base: auto

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: no

github_checks:
  annotations: true

flags:
  unittests:
    paths:
      - Tests/Unit/
    carryforward: true
  integration:
    paths:
      - Tests/Integration/
    carryforward: true

Add internal Swagger SSO via OpenID Connect for production.
  Docs/Deployment/INTERNAL_SWAGGER_SSO.md
  WebAPI/Authorization/SwaggerDevAuthorizationHandler.cs
  WebAPI/Configuration/DocumentationOptions.cs
  WebAPI/Controllers/AccountController.cs
  WebAPI/Extensions/AuthenticationExtensions.cs
  WebAPI/HelloblueGK.WebAPI.csproj
  WebAPI/Program.cs
  WebAPI/appsettings.Development.json.example
  WebAPI/appsettings.Production.json.example
  render.yaml
Due: none

Fix IAuthorizationMiddlewareResultHandler namespace for CI build.
  WebAPI/Program.cs
Due: none

Fix rate limit middleware masking SSO and other downstream errors.
  Core/RateLimitingMiddleware.cs
Due: none

Trust Render forwarded headers so Azure SSO uses https redirect URIs.
  WebAPI/Program.cs
Due: none

Force https OpenID Connect callback URI on Render production.
  WebAPI/Extensions/AuthenticationExtensions.cs
Due: none

Always force https OIDC callback except on localhost.
  WebAPI/Extensions/AuthenticationExtensions.cs
Due: none

Allow explicit https OIDC CallbackUrl for Render Azure SSO.
  WebAPI/Extensions/AuthenticationExtensions.cs
Due: none

Pin .NET Docker images to bookworm-slim tags for CI reliability.
  Docker/Dockerfile
  Docker/Dockerfile.render
Due: none

Deploy from main branch in render.yaml.
  render.yaml
Due: none

Document public OSS model and add security reporting policy.
  README.md
  SECURITY.md
Due: none

Use security@helloblue.ai as the security contact email in SECURITY.md.
  SECURITY.md
Due: none

Configure Dependabot for multiple package ecosystems
  .github/dependabot.yml
Due: none

Align Microsoft packages and harden Dependabot and Docker CI.
  .github/dependabot.yml
  .github/workflows/ci.yml
  HelloblueGK.csproj
  Tests/HelloblueGK.Tests.csproj
  WebAPI/HelloblueGK.WebAPI.csproj
Due: none

Fix flaky memory benchmark test in CI.
  Tests/Integration/PerformanceBenchmarkTests.cs
Due: integration

Harden API security and audits
  .github/workflows/ci.yml
  API_DOCUMENTATION.md
  Core/DigitalTwinEngine.cs
  Docker/Dockerfile
  Docker/Dockerfile.render
  Docs/Deployment/RENDER_POSTGRESQL_SETUP.md
  PRODUCTION_READY.md
  SECURITY_INCIDENT_RESPONSE.md
  Tests/Unit/WebAPI/SecurityHardeningTests.cs
  WebAPI/Controllers/DigitalTwinController.cs
  WebAPI/Extensions/AuthenticationExtensions.cs
  WebAPI/Middleware/GlobalExceptionHandlerMiddleware.cs
Due: unittests

Harden internal Swagger authentication
  Tests/HelloblueGK.Tests.csproj
  Tests/Unit/WebAPI/SecurityHardeningTests.cs
  WebAPI/Extensions/AuthenticationExtensions.cs
  WebAPI/Program.cs
  render.yaml
Due: unittests

Fix WebAPI startup validation for security tests
  Tests/Unit/WebAPI/SecurityHardeningTests.cs
  WebAPI/Program.cs
Due: unittests

Add daily NuGet security audit workflow
  .github/workflows/security-audit.yml
Due: none
