Repository HelloblueAI/HelloblueGK: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

fix: do not persist effective severity on Rejected transitions
  Certification/ProblemReportingSystem.cs
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
Due: unittests

Do not persist effective severity on reject or investigate.
  Certification/ProblemReportingSystem.cs
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
Due: unittests

Fail closed placeholder CM checksum tokens
  Certification/ConfigurationManagementSystem.cs
  Tests/Unit/Certification/ConfigurationManagementSystemTests.cs
Due: unittests

test: use allowed-tree path in whitespace-checksum audit test
  Tests/Unit/Certification/ConfigurationManagementSystemTests.cs
Due: unittests

Fail closed leftover CM baseline items that have no version
  Certification/ConfigurationManagementSystem.cs
  Tests/Unit/Certification/ConfigurationManagementSystemTests.cs
Due: unittests

test: seed coverage inventory for punctuation-only close test
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
Due: unittests

Fail closed placeholder CM version tokens
  Certification/ConfigurationManagementSystem.cs
  Tests/Unit/Certification/ConfigurationManagementSystemTests.cs
Due: unittests

Fail closed leftover empty CM item names and placeholder function names
  Certification/CertificationIdentityTokens.cs
  Certification/ConfigurationManagementSystem.cs
  Certification/FormalCodeReviewSystem.cs
  Certification/RequirementsTraceabilitySystem.cs
  Tests/Unit/Certification/ConfigurationManagementSystemTests.cs
  Tests/Unit/Certification/FormalCodeReviewSystemTests.cs
  Tests/Unit/Certification/RequirementsTraceabilitySystemTests.cs
Due: unittests

Fail closed leftover empty baseline names and placeholder test IDs
  Certification/ConfigurationManagementSystem.cs
  Certification/ProblemReportingSystem.cs
  Certification/RequirementsTraceabilitySystem.cs
  Certification/TestCoverageSystem.cs
  Tests/Unit/Certification/ConfigurationManagementSystemTests.cs
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
  Tests/Unit/Certification/RequirementsTraceabilitySystemTests.cs
  Tests/Unit/Certification/TestCoverageSystemTests.cs
Due: unittests

Fail closed leftover placeholder CM baseline and item names
  Certification/ConfigurationManagementSystem.cs
  Tests/Unit/Certification/ConfigurationManagementSystemTests.cs
Due: unittests

Fail closed leftover empty and placeholder requirement identity
  Certification/ProblemReportingSystem.cs
  Certification/RequirementsTraceabilitySystem.cs
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
  Tests/Unit/Certification/RequirementsTraceabilitySystemTests.cs
Due: unittests

Fail closed leftover empty and placeholder requirement descriptions
  Certification/ProblemReportingSystem.cs
  Certification/RequirementsTraceabilitySystem.cs
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
  Tests/Unit/Certification/RequirementsTraceabilitySystemTests.cs
Due: unittests

Fail closed leftover empty and placeholder SoD identities
  Certification/ConfigurationManagementSystem.cs
  Certification/FormalCodeReviewSystem.cs
  Tests/Unit/Certification/ConfigurationManagementSystemTests.cs
  Tests/Unit/Certification/FormalCodeReviewSystemTests.cs
Due: unittests

Fix audit checksum classification after merge
  Certification/ConfigurationManagementSystem.cs
Due: none

Fail closed leftover placeholder function names and vacuous review findings
  Certification/FormalCodeReviewSystem.cs
  Certification/ProblemReportingSystem.cs
  Tests/Unit/Certification/FormalCodeReviewSystemTests.cs
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
Due: unittests

Fail closed leftover placeholder evidence path identities
  Certification/CertificationIdentityTokens.cs
  Certification/ConfigurationManagementSystem.cs
  Certification/FormalCodeReviewSystem.cs
  Certification/RepositoryEvidencePaths.cs
  Certification/RequirementsTraceabilitySystem.cs
  Certification/TestCoverageSystem.cs
  Tests/Unit/Certification/ConfigurationManagementSystemTests.cs
  Tests/Unit/Certification/FormalCodeReviewSystemTests.cs
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
  Tests/Unit/Certification/RequirementsTraceabilitySystemTests.cs
  Tests/Unit/Certification/TestCoverageSystemTests.cs
Due: unittests

Fail closed leftover punctuation-only function names
  Certification/CertificationIdentityTokens.cs
  Certification/FormalCodeReviewSystem.cs
  Certification/ProblemReportingSystem.cs
  Certification/RequirementsTraceabilitySystem.cs
  Tests/Unit/Certification/FormalCodeReviewSystemTests.cs
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
  Tests/Unit/Certification/RequirementsTraceabilitySystemTests.cs
Due: unittests

Fail closed leftover punctuation-only test and design evidence IDs
  Certification/CertificationIdentityTokens.cs
  Certification/ProblemReportingSystem.cs
  Certification/RequirementsTraceabilitySystem.cs
  Certification/TestCoverageSystem.cs
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
  Tests/Unit/Certification/RequirementsTraceabilitySystemTests.cs
  Tests/Unit/Certification/TestCoverageSystemTests.cs
Due: unittests

Fail closed leftover punctuation-only requirement descriptions
  Certification/ProblemReportingSystem.cs
  Certification/RequirementsTraceabilitySystem.cs
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
  Tests/Unit/Certification/RequirementsTraceabilitySystemTests.cs
Due: unittests

Fail closed leftover punctuation-only CM configuration names
  Certification/ConfigurationManagementSystem.cs
  Tests/Unit/Certification/ConfigurationManagementSystemTests.cs
Due: unittests

Fail closed leftover punctuation-only requirement titles
  Certification/ProblemReportingSystem.cs
  Certification/RequirementsTraceabilitySystem.cs
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
  Tests/Unit/Certification/RequirementsTraceabilitySystemTests.cs
Due: unittests

Fail closed leftover punctuation-only requirement numbers
  Certification/ProblemReportingSystem.cs
  Certification/RequirementsTraceabilitySystem.cs
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
  Tests/Unit/Certification/RequirementsTraceabilitySystemTests.cs
Due: unittests

Fail closed leftover punctuation-only SoD actor identities
  Certification/CertificationIdentityTokens.cs
  Certification/ConfigurationManagementSystem.cs
  Certification/FormalCodeReviewSystem.cs
  Tests/Unit/Certification/ConfigurationManagementSystemTests.cs
  Tests/Unit/Certification/FormalCodeReviewSystemTests.cs
Due: unittests

Repair documentation index paths
  Docs/README.md
Due: none

Dedup leftover numeric RequirementNumber compliance test
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
Due: unittests

Drop duplicate numeric-requirement-number test from merge
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
Due: unittests

Keep existing Project docs entries in index
  Docs/README.md
Due: none

Repair documentation index paths (#200)
  Docs/README.md
Due: none

Fail closed leftover punctuation-only evidence path identities
  Certification/CertificationIdentityTokens.cs
  Certification/ConfigurationManagementSystem.cs
  Certification/FormalCodeReviewSystem.cs
  Certification/ProblemReportingSystem.cs
  Certification/RepositoryEvidencePaths.cs
  Certification/RequirementsTraceabilitySystem.cs
  Certification/TestCoverageSystem.cs
  Tests/Unit/Certification/ConfigurationManagementSystemTests.cs
  Tests/Unit/Certification/FormalCodeReviewSystemTests.cs
  Tests/Unit/Certification/ProblemReportingSystemTests.cs
  Tests/Unit/Certification/RequirementsTraceabilitySystemTests.cs
  Tests/Unit/Certification/TestCoverageSystemTests.cs
Due: unittests

Stop root project from globbing sibling projects and build output
  HelloblueGK.csproj
Due: none

Stop root project from globbing sibling projects and build output (#203)
  HelloblueGK.csproj
Due: none

Make the build warning-free and give Certification an owner
  .github/CODEOWNERS
  .github/workflows/ci.yml
  Certification/ConfigurationManagementSystem.cs
  Directory.Build.props
  Tests/Integration/PerformanceBenchmarkTests.cs
  Tests/Unit/Core/PerformanceMonitoringServiceTests.cs
Due: unittests, integration

Make the build warning-free and give Certification an owner (#204)
  .github/CODEOWNERS
  .github/workflows/ci.yml
  Certification/ConfigurationManagementSystem.cs
  Directory.Build.props
  Tests/Integration/PerformanceBenchmarkTests.cs
  Tests/Unit/Core/PerformanceMonitoringServiceTests.cs
Due: unittests, integration

Route requirement letter gates through the shared predicates
  Certification/CertificationIdentityTokens.cs
  Certification/RequirementsTraceabilitySystem.cs
Due: none

Route requirement letter gates through the shared predicates (#205)
  Certification/CertificationIdentityTokens.cs
  Certification/RequirementsTraceabilitySystem.cs
Due: none

Derive MC/DC from independence pairs instead of a capped claim
  Certification/TestCoverageSystem.cs
  Tests/Unit/Certification/TestCoverageSystemTests.cs
  WebAPI/Controllers/Certification/TestCoverageController.cs
Due: unittests

Give each directory its own coverage floor
  codecov.yml
Due: none

Derive MC/DC from independence pairs instead of a capped claim (#206)
  Certification/TestCoverageSystem.cs
  Tests/Unit/Certification/TestCoverageSystemTests.cs
  WebAPI/Controllers/Certification/TestCoverageController.cs
Due: unittests

Give each directory its own coverage floor (#207)
  codecov.yml
Due: none

Cover the CFD solver's self-initializing path
  Tests/Unit/Physics/PhysicsSolverContractTests.cs
Due: unittests

Path conditions:
  unittests: any of: Tests/Unit/
  integration: any of: Tests/Integration/
