Repository HelloblueAI/HelloblueGK: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

Fix: Docker build path, ensure tests run, prevent warnings from failing builds
  .github/workflows/ci.yml
  Dockerfile
Due: none

Fix integration tests: specify test project and disable warnings as errors
  .github/workflows/ci.yml
Due: none

Document all CI/CD fixes
  .github/ALL_FIXES_APPLIED.md
Due: none

Trigger CI/CD pipeline
  .github/TRIGGER_CI.md
Due: none

Fix: Restore test project dependencies explicitly
  .github/workflows/ci.yml
Due: none

Document NuGet restore fix
  .github/NUGET_RESTORE_FIX.md
Due: none

Confirm CI/CD pipeline success
  .github/CI_SUCCESS_CONFIRMED.md
Due: none

Fix test compilation errors: API mismatches and type issues
  Tests/Integration/PerformanceBenchmarkTests.cs
  Tests/Integration/SystemIntegrationTests.cs
  Tests/Unit/Core/ConfigurationValidationServiceTests.cs
  Tests/Unit/Core/DigitalTwinEngineTests.cs
  Tests/Unit/Core/RealTimeValidationEngineTests.cs
Due: unittests, integration

Fix remaining test errors: add TestFlightData import and fix variable reference
  Tests/Integration/PerformanceBenchmarkTests.cs
  Tests/Unit/Core/DigitalTwinEngineTests.cs
Due: unittests, integration

Fix boolean assertion: use BeOneOf instead of BeOfType
  Tests/Unit/Core/ConfigurationValidationServiceTests.cs
Due: unittests

Fix boolean assertion: use array syntax for BeOneOf
  Tests/Unit/Core/ConfigurationValidationServiceTests.cs
Due: unittests

Fix boolean assertion: use array constructor for BeOneOf
  Tests/Unit/Core/ConfigurationValidationServiceTests.cs
Due: unittests

Fix boolean assertion: remove BeOneOf check (IsValid is already bool)
  .github/TEST_LOCALLY.md
  Tests/Unit/Core/ConfigurationValidationServiceTests.cs
Due: unittests

Fix: Auto-initialize physics engine in HelloblueGKEngine methods
  Core/HelloblueGKEngine.cs
  Tests/Unit/Core/HelloblueGKEngineTests.cs
Due: unittests

Reduce test verbosity and add timeout to prevent hanging tests
  .github/workflows/ci.yml
Due: none

Fix code quality checks: ensure format check doesn't fail job
  .github/workflows/ci.yml
Due: none

Fix Docker build: handle build warnings and ensure restore completes
  Dockerfile
Due: none

Fix Docker build: simplify build commands and ensure warnings don't fail
  Dockerfile
Due: none

Fix Docker build: ensure restore completes and publish also ignores warnings
  Dockerfile
Due: none

Fix flaky tests: adjust expectations for timing-dependent and optional behaviors
  Tests/Integration/SystemIntegrationTests.cs
  Tests/Unit/Core/RateLimitingServiceTests.cs
  Tests/Unit/Core/RealTimeValidationEngineTests.cs
  Tests/Unit/Core/StructuredLoggingServiceTests.cs
Due: unittests, integration

Fix integration/performance tests: remove invalid /p: parameter with --no-build
  .github/workflows/ci.yml
Due: none

Increase test timeout to 15min and verbosity to normal for better visibility
  .github/workflows/ci.yml
Due: none

Fix performance tests: remove --no-build flag causing invalid argument error
  .github/workflows/ci.yml
Due: none

Fix infinite loop in RealTimeValidationEngine: suppress events during validation to prevent recursion and reduce console output spam
  Core/RealTimeValidationEngine.cs
Due: none

Fix integration tests: remove --no-build flag causing invalid argument error
  .github/workflows/ci.yml
Due: none

Document completion of all recommended enhancements (#1)
  .github/ALL_FIXES_APPLIED.md
  .github/CANCEL_OLD_RUNS.md
  .github/CI_CHECKS_EXPLAINED.md
  .github/CI_FAILURE_FIX.md
  .github/CI_FIXES_SUMMARY.md
  .github/CI_SUCCESS_CONFIRMED.md
  .github/FIX_CODEQL_WARNINGS.md
  .github/HOW_TO_MERGE_PR.md
  .github/MERGE_YOUR_OWN_PR.md
  .github/MULTIPLE_CI_RUNS_EXPLAINED.md
  .github/NUGET_RESTORE_FIX.md
  .github/REMOVE_STALE_CODEQL.md
  .github/SETUP_COMPLETE_FINAL.md
  .github/TEST_LOCALLY.md
  .github/TRIGGER_CI.md
  .github/workflows/ci.yml
  Core/HelloblueGKEngine.cs
  Core/RealTimeValidationEngine.cs
  Dockerfile
  Tests/Integration/PerformanceBenchmarkTests.cs
  Tests/Integration/SystemIntegrationTests.cs
  Tests/Unit/Core/ConfigurationValidationServiceTests.cs
  Tests/Unit/Core/DigitalTwinEngineTests.cs
  Tests/Unit/Core/HelloblueGKEngineTests.cs
  Tests/Unit/Core/RateLimitingServiceTests.cs
  Tests/Unit/Core/RealTimeValidationEngineTests.cs
  Tests/Unit/Core/StructuredLoggingServiceTests.cs
Due: unittests, integration

Fix all CodeQL security warnings: sanitize user input for logging and fix precision loss warnings
  Core/CorrelationIdMiddleware.cs
  Core/LogSanitizer.cs
  Core/PerformanceMonitoringService.cs
  Core/RateLimitingService.cs
  Physics/AdvancedCFDSolver.cs
  WebAPI/Controllers/PerformanceController.cs
  WebAPI/Controllers/RateLimitController.cs
Due: none

Fix remaining CodeQL warnings: precision loss, useless assignments, and container access
  AI/AIOptimizationEngine.cs
  AI/AutonomousEngineDesigner.cs
  AI/QuantumClassicalHybridEngine.cs
  Aerospace/AerospaceComplianceSystem.cs
  Aerospace/AerospaceReadinessAssessment.cs
  Core/AdvancedEngineCore.cs
  Core/AdvancedErrorHandler.cs
  Core/PerformanceMonitoringService.cs
  Core/QualityAssuranceSystem.cs
  Core/RealTimeValidationEngine.cs
  Core/SecurityAuditSystem.cs
  Core/ValidationEngine.cs
Due: none

Fix remaining CodeQL warnings: useless assignments, floating point equality, and missing Dispose calls
  Aerospace/RevolutionaryEngineArchitectures.cs
  Core/ConfigurationValidationService.cs
  Core/DigitalTwinEngine.cs
  Core/PerformanceMonitoringService.cs
  Core/RealTimeValidationEngine.cs
  Core/ValidationEngine.cs
  Physics/AdvancedMultiPhysicsCoupler.cs
  Physics/AdvancedThermalSolver.cs
  Physics/RealPhysicsSolvers/OpenFOAMIntegration.cs
Due: none

Fix remaining critical CodeQL warnings: useless upcast and missing Dispose
  Core/AdvancedErrorHandler.cs
  Program.cs
Due: none

Fix missed readonly opportunities: mark dictionary/list fields as readonly
  Aerospace/PlasticityEngineIntegration.cs
  Aerospace/RevolutionaryEngineArchitectures.cs
  Core/DigitalTwinEngine.cs
  Physics/AdvancedMultiPhysicsCoupler.cs
  Physics/PlasticityHardwareEngine.cs
Due: none

Optimize ContainsKey usage and fix LINQ opportunities
  AI/AutonomousEngineDesigner.cs
  AI/QuantumClassicalHybridEngine.cs
  AI/ReinforcementLearningEngine.cs
  Aerospace/PlasticityEngineIntegration.cs
  Aerospace/RevolutionaryEngineArchitectures.cs
  Core/AdvancedErrorHandler.cs
  Core/AdvancedHealthCheckService.cs
  Core/DigitalTwinEngine.cs
  Core/PerformanceMetrics.cs
  Core/PerformanceMonitoringService.cs
  Core/ValidationEngine.cs
Due: none

Fix build errors: variable scope and type conversion issues
  AI/AutonomousEngineDesigner.cs
  Core/CorrelationIdMiddleware.cs
  Core/DigitalTwinEngine.cs
  Program.cs
Due: none

Fix all CodeQL security warnings (#2)
  AI/AIOptimizationEngine.cs
  AI/AutonomousEngineDesigner.cs
  AI/QuantumClassicalHybridEngine.cs
  AI/ReinforcementLearningEngine.cs
  Aerospace/AerospaceComplianceSystem.cs
  Aerospace/AerospaceReadinessAssessment.cs
  Aerospace/PlasticityEngineIntegration.cs
  Aerospace/RevolutionaryEngineArchitectures.cs
  Core/AdvancedEngineCore.cs
  Core/AdvancedErrorHandler.cs
  Core/AdvancedHealthCheckService.cs
  Core/ConfigurationValidationService.cs
  Core/CorrelationIdMiddleware.cs
  Core/DigitalTwinEngine.cs
  Core/LogSanitizer.cs
  Core/PerformanceMetrics.cs
  Core/PerformanceMonitoringService.cs
  Core/QualityAssuranceSystem.cs
  Core/RateLimitingService.cs
  Core/RealTimeValidationEngine.cs
  Core/SecurityAuditSystem.cs
  Core/ValidationEngine.cs
  Physics/AdvancedCFDSolver.cs
  Physics/AdvancedMultiPhysicsCoupler.cs
  Physics/AdvancedThermalSolver.cs
  Physics/PlasticityHardwareEngine.cs
  Physics/RealPhysicsSolvers/OpenFOAMIntegration.cs
  Program.cs
  WebAPI/Controllers/PerformanceController.cs
  WebAPI/Controllers/RateLimitController.cs
Due: none

Fix discarded Math.Sqrt calculation in AdvancedThermalSolver
  Physics/AdvancedThermalSolver.cs
Due: none

Fix discarded Math.Sqrt calculation in AdvancedThermalSolver (#3)
  Physics/AdvancedThermalSolver.cs
Due: none

Fix remaining CodeQL error-level alerts: empty collections and precision loss
  Aerospace/AerospaceComplianceSystem.cs
  Aerospace/AerospaceReadinessAssessment.cs
  Core/QualityAssuranceSystem.cs
  Core/SecurityAuditSystem.cs
  Core/ValidationEngine.cs
  Physics/AdvancedCFDSolver.cs
Due: none

Path conditions:
  unittests: any of: Tests/Unit/
  integration: any of: Tests/Integration/
